<div id="noTestRunView" data-ng-if="!CC.hasTestRun()">No tests executing</div>
<header id="stationHeader" class="station-container" data-ng-if="CC.hasTestRun()">
  <h1>Device {{CC.cell.dut_serial}}</h1>
  <div data-ng-if="CC.isFinished()">Device tested
    <em data-am-time-ago="CC.cell.end_time_millis.toNumber() | millisToSeconds"
      data-am-preprocess="unix"></em>,
    <em>{{CC.cell.start_time_millis.toNumber() | millisToSeconds | amCalendar:'unix'}}</em>
    ran for
    <em>{{CC.getTestDuration() | millisDuration}}</em>
  </div>
  <div data-ng-if="!CC.isFinished()">
    Device started testing
    <em data-am-time-ago="CC.cell.start_time_millis.toNumber() | millisToSeconds"
      data-am-preprocess="unix"></em>,
  </div>
  <div>Test is
    <em>{{CC.cell.test_info.name}}</em>
    on
    <em>{{CC.cell.tester_name}}</em>
    on
    <em>Cell #{{CC.cell.cell_number}}</em>
  </div>
</header>
<div class="station-container" data-ng-if="CC.hasTestRun()">
  <table class="station-testparameters" data-ng-repeat="parameterGroup in CC.parameters track by parameterGroup.name"
    data-ng-class="parameterGroup.className">
    <colgroup>
      <col style="width: auto; overflow: hidden; text-overflow:ellipsis">
      <col style="width: 100px; overflow: hidden; text-overflow:ellipsis">
      <col style="width: 200px; overflow: hidden; text-overflow:ellipsis">
      <col style="width: 200px; overflow: hidden; text-overflow:ellipsis">
    </colgroup>
    <thead>
      <tr>
        <th>{{::parameterGroup.name}}</th>
        <th>Status</th>
        <th>Value</th>
        <th>Limit</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="parameter in parameterGroup.values track by parameter.name" title="{{::parameter.description}}">
        <td>{{::parameter.name}}</td>
        <td data-ox-param-status="::parameter.status"></td>
        <td data-ox-param-value="parameter"></td>
        <td data-ox-param-limit="::parameter"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="station-container" data-ng-if="CC.hasTestRun()">
  <table class="station-logs">
    <thead>
      <tr>
        <th colspan="2">Test Logs</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="testlog in CC.getTestLogs()" class="station-logs-line">
        <td data-ng-class="'station-logs-level-{{::testlog.getLevel()}}'">[{{::testlog.getTimestampMillis().toNumber() | date:"HH:mm:ss"}} {{::testlog.getLogSource()}}:{{::testlog.getLineno()}}] {{::testlog.getLogMessage()}}</td>
      </tr>
    </tbody>
  </table>
</div>
