<html>
<head>
<script type="text/javascript">
  var state = { prompt_id: null };
  function ajax(url, method, message, callback) {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
        if (request.readyState == XMLHttpRequest.DONE ) {
           if(request.status == 200){
               callback(request.responseText);
           }
         }
    }
    request.open(method, url, true);
    request.send(message);
  }
  function submit(id) {
    var field = document.getElementById('prompt_field');
    url = 'prompt/' + id + '/';
    ajax(url, 'POST', field.value, function(){ refresh('prompt'); });
  }
  function enter_check(id) {
    if (event.keyCode == 13){
      submit(id)
    }
  }
  function refresh(id){
    ajax('template/' + id + '/', 'GET', '',
         function(new_doc){
            document.getElementById(id).innerHTML = new_doc; });
  }
  function poll(interval_ms) {
    if (interval_ms == undefined) {interval_ms = {{interval}};}
    refresh('test');
    ajax('prompt/', 'GET', '', function(id){
      if (id != state.prompt_id) {
        state.prompt_id = id;
        refresh('prompt');
      }
    });
    setTimeout(function() { poll(interval_ms); }, interval_ms);
  }
  function setup(){
    poll();
  }
</script>
</head>
<body onload="setup()">
<div id="prompt"></div>
<div id="test"></div>
</body>
</html>
