<h1>OpenHTF</h1>
{% if state == None %}
<div class="offline">
<p>Station is currently offline.</p>
{% else %}
<h2>Station {{state['framework']['station_id']}}</h2>
<hr/>
{% if state['test'] == None %}
<div class="notest">
<p>openhtf is running, but no test is currently executing.</p>
</div>

</div>
{% else %}
  <h2>{{state['test']['record']['dut_id']}}</h2>
  {% if state['test']['status'] == 'PASS' %}
    <h1 style="color:green;">
  {% elif state['test']['status'] == 'FAIL' %}
    <h1 style="color:red;">
  {% else %}
    <h1 style="color:orange;">
  {% end %}
  {{state['test']['status']}}</h1>

{% if state['framework']['status'] == 'EXECUTING' %}
<div class="current_phase">
  <h3>Current Phase: {{ state['test']['running_phase_record']['name'] }}</h3>
  {% if 'docstring' in state['test']['running_phase_record'] %}
    <p>{{ state['test']['running_phase_record']['docstring'] }}</p>
  {% end %}
<h4>Measurements</h4>
<table border=1>
{% for m in state['test']['running_phase_record']['measurements'] %}
  <tr>
    <td>{{ m }}</td>
    {% if m in state['test']['phase_data']['measurements'] %}
      <td>{{ state['test']['phase_data']['measurements'][m] }}</td>
    {% else %}
      <td><div class="UNSET">UNSET</div></td>
    {% end %}
    </li></ul>
    </li>
{% end %}
</table>
</div>
<hr/>
<div class="pending_phases"><h3>Pending Phases</h3>
<ul>
{% for p in state['test']['pending_phases'] %}
  <li>
  {{ p[0] }}
  </li>
{% end %}
</ul>
</div>
{% end %}
{% end %}
{% end %}
