// Starred footer
.starred-footer {
  background-color: #888;
  border-top: #666;
  padding: 5px 20px;
  line-height: 15px;
  max-height: 20%;
  overflow: auto;
}

.starred-footer > header {
  color: #DDD;
}

.starred-footer > .starred-footer-stations {
  display: flex;
  flex-flow: row wrap;

  & > div {
    width: 50%;
    min-width: 200px;
  }
  & a {
    color: white;
  }
}
