/** Common colors used in other places */
/* Background */
COLORS_BACKGROUND = #F1F1F1;
COLORS_HEADER = #003366;

/* Main Colors */
COLORS_JFK_RED = #DD4B39;
COLORS_JFK_BLUE = #3D90FE;
COLORS_JFK_GREEN = #2D9400;

/* Other Colors */
COLORS_BUTTERBAR = #F8EDBE;
COLORS_TOOLTIP = #1D2D2D;
COLORS_LINK = #1154CC;

/** Test Colors */
COLORS_TEST_PASS = #3D9400;
COLORS_TEST_ERROR = #EEB221;
COLORS_TEST_FAIL = #DD4B39;
