# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python dist/packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtualenv
env/
venv/


# built protos
*pb2.py

# node stuff
node_modules/
