language: python
matrix:
  include:
  - python: 2.7
    env: TOXENV=py27
  - python: 3.6
    env: TOXENV=py36
addons:
  apt:
    packages:
    - python3
    - python3-pip
    - swig
    - libusb-1.0-0-dev
    - libprotobuf-dev
cache:
  pip: true
  apt: true
  directories:
  - "$HOME/.cache/pip"
install:
- pip install tox coveralls
- pip install -e .
- wget https://github.com/protocolbuffers/protobuf/releases/download/v3.6.1/protoc-3.6.1-linux-x86_64.zip
- unzip protoc-3.6.1-linux-x86_64.zip
- sudo cp bin/protoc /usr/bin/protoc && sudo chmod 777 /usr/bin/protoc
- sudo cp -r include/. /usr/include && sudo chmod -R +r /usr/include/google
- protoc --version
script: tox
after_success:
- coveralls
deploy:
  provider: pypi
  user: jettisonjoe
  on:
    tags: true
  password:
    secure: OMX1FVQP3qTzBSVjKJhMVEbyhvzB6YXVg9gezTwQJtwJV4NgqwMtHxb+iJuQx6tia9lX2H1BJovpSzIL4kx6UDhX6C8vHHg8pv/34678bQuA/QqjyaqXKZ2/uEFCp6EShhaxityXSnu8XvSG+JOHsQkLCKfqXseQ16xnAuCBiVy8MvSVS7BdzmmXtpAYd51BczNgDand0xnZgM6IwlOTRIUPlAJY7fFCU7QXtXcDeNcdlXKO9gyOnwLeSyjy/pjhtj7yqqncrah2pbXCPv5xyUlerdZ8Gf4jZkaGGCXvt5IgLocsdRFy/AmzB9w8Qin4FgHZRSJfr85bGKKHCEEmg7oeVZEBl8lp8Bl05uv3ngW1s9fsSTjCSd2t4MRanY9JwIn60S61oC/5cgFZ66ImPPZEpL0/H4jVtWc3GbBjq2kAPOnqLqxMFsIj/YZLa5ijBCAASIdviDpna3snrmh4qED3EEOylL2RlLWuSODiF4urZEEyDcYdZRz7//EMcJFl5g68OTySrvyKZHMUDmlJihJiKtiFrRmWKHigm5znPgzeAvQpsX3YIyG/5336WjoogfvjKJ995wrF/DuUfwp5h9NJzpzSozFIitW5goydXu82ybnJ6G6/PvJ3wc9LKT2x2FY3SZeUqVTxdXrRzW4PbgZggYmhq4Z4KaEIKU+2Beo=
