language: python
python:
  - "2.7"
addons:
  apt:
    packages:
      - swig
      - libusb-1.0-0-dev
cache:
  pip: true
  apt: true
  directories:
    - .tox
    - $HOME/.cache/pip
env:
  - TOXENV=py27
install:
  - pip install tox
script: tox
