@require '../../../layout/color.styl'

.station-param-pass, .station-param-fail, .station-param-unset {
  font-weight: bold;
}

.station-param-pass {
  color: COLORS_TEST_PASS;
}

.station-param-fail {
  color: COLORS_TEST_FAIL;
}

.station-param-unset {
  color: COLORS_TEST_ERROR;
}
