.input-field label {
  color: #616161;
  font-size: 12px;
  margin-left: -10px;
}

.input-field input[type=text]:focus + label {
     color: #ef6c00;
}

.message {
  color: #ef6c00;
  margin-bottom: 1em;
}

.prompt-box {
  font-weight: 600;
  margin: 12px 24px 12px 24px;
  padding: 14px;
}

#response_field:focus {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}
