<!-- Template for the StationHeader component. -->
<div class="station-header">
  <div class="left">
    <div class="cardholder">
      <div class="card blue lighten-1 white-text">
        <div class="navbar"><ul class="tabs main">
          <li class="tab"><a href="#current">
            <div class="nav-button">
              <div><i class="material-icons">bookmark</i></div>
              <div class="nav-label">CURRENT</div>
            </div>
          </a></li>
          <li class="tab" *ngFor="let plug of plugins">
            <a href="#{{plug.tag}}">
              <div class="nav-button">
                <div><i class="material-icons">{{plug.icon || 'extension'}}</i></div>
                <div class="nav-label">{{plug.label}}</div>
              </div>
            </a>
          </li> 
        </ul></div>
      </div>
    </div>
    <div class="station-id-area blue-text text-lighten-1">
      <div class="station-id-label">
        {{stationInfo?.station_id}}
      </div>
      <div class="socket-label">
        {{stationInfo?.host}} : {{stationInfo?.port}}
      </div>
    </div>
  </div>
  <div class="right">
    <div *ngIf="countdown?.millisRemaining > 0"
         (click)="countdown.pauseOrUnpause()"
         class="countdown">
      {{(countdown.millisRemaining / 1000) | number:['2.0-0']}}
    </div>
  </div>
  <!-- Tabs for History plugin - will only show when on History tab -->
  <div class="history-nav right">
    <div class="navbar"><ul class="tabs">
      <li class="tab"><a href="#testList">
        <div class="nav-button">
          <div><i class="material-icons blue-text text-lighten-1">toc</i></div>
        </div>
      </a></li>
      <li class="tab"><a href="#starred">
        <div class="nav-button">
          <div><i class="material-icons blue-text text-lighten-1">star</i></div>
        </div>
      </a></li>
    </ul></div>

  </div>
</div>
