/** Styles for the station content. */
@require 'param-status.styl'
@require '../../../layout/color.styl'

#noTestRunView {
  font-size: 20px;
  text-align: center;
}

.station-container {
  min-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#stationHeader > h1 {
  font-size: 20px;
  font-weight: bold;
}

#stationHeader > div {
  color: #888;
  line-height: 18px;
  font-size: 14px;
}

#stationHeader em {
  font-style: normal;
  color: #222;
}

.station-testparameters {
  table-layout: fixed;
  font-size: 14px;
  margin-top: 20px;

  & th {
    text-align: left;
    color: #888;
    padding: 5px;
  }

  & td {
    padding: 5px;
  }

  tbody > tr {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-top-color: #E3E3E3;

    &:last-of-type: {
      border-bottom-color: #C4C4C4;
    }
  }
}

.station-paramlist-failed > tbody > tr {
  background-color: rgba(COLORS_TEST_FAIL, .2);
}

.station-logs {
  font-size: 14px;
  margin-top: 20px;

  & th {
    text-align: left;
    color: #888;
    padding: 5px;
  }

  & td {
    padding: 5px;
  }

  tbody > tr {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-top: none;
    border-bottom: none;

    &:first-of-type {
      border-top: 1px solid #E3E3E3;
    }

    &:last-of-type {
      border-bottom: 1px solid #C4C4C4;
    }
  }
}

.station-logs-line {
  white-space: pre;
}
.station-logs-line:nth-child(even) {
  background-color: rgba(linen, .5);
}
.station-logs-level-10 {
  color: #888;
}
.station-logs-level-30 {
  color: indianred;
}
.station-logs-level-40, .station-logs-level-50 {
  color: red;
  font-weight: bold;
}
