<!-- Template for the Prompt component. -->
<div *ngIf="prompt"
     class="prompt-box card grey lighten-2">
  <div *ngIf="prompt['text-input']">
    <div class="input-field">
      <input id="response_field" #response_field
             type="text"
             placeholder="(enter text here)"
             (keyup.enter)="sendResponse(response_field,
                                         prompt.id)">
      <label for="response_field" class="active">
        {{prompt.message}}
      </label>
    </div>
    <a class="waves-effect waves-light btn amber darken-4"
       (click)="sendResponse(response_field, prompt.id)">
      SUBMIT
    </a>
  </div>
  <div *ngIf="!prompt['text-input']" class="input-field">
    <div class="message">{{prompt.message}}</div>
    <a #button class="waves-effect waves-light btn amber darken-4"
       (click)="sendResponse(null, prompt.id)">OK</a>
  </div>
</div>
