<!-- Template for the Station component; top level of the Station view. -->
<div id="station">
  <station-header [countdown]="countdown"
                  [stationInfo]="stationInfo">
  </station-header>
  <div class="currentTab" id="current">
    <div *ngIf="testUIDs.length == 0" class="big-message">
      No tests available for display.
    </div>
    <div *ngFor="let testUID of testUIDs">
      <div class="test">
        <test-header
          [dutID]="tests[testUID].test_record?.dut_id"
          [startTime]="tests[testUID].test_record?.start_time_millis"
          [endTime]="tests[testUID].test_record?.end_time_millis"
          [currentMillis]="currentMillis"
          [status]="tests[testUID].test_record?.outcome
                    || tests[testUID].status || 'OFFLINE'">
        </test-header>
        <div class="test-content">
          <prompt [prompt]="tests[testUID].plugs.plug_states['openhtf.plugs.user_input.UserInput']"
                  [test_uid]="testUID">
          </prompt>
          <phase-listing id="phases" [state]="tests[testUID]"
                                     [currentMillis]="currentMillis">
          </phase-listing>
          <logs id="logs" [log_records]="tests[testUID].test_record?.log_records">
          </logs>
          <metadata id="metadata" [metadata]="tests[testUID].test_record.metadata">
          </metadata>
        </div>
      </div>
    </div>
  </div>
  <div id="history">
    <div class="big-message">
      History feature coming soon!
    </div>
  </div>
  <!-- TODO(jethier): Iterate over included station-level plugins and display
                      them here. Also need to wire them to tabs. -->
</div>
