<!-- Template for the StationHeader component. -->
<div class="station-header">
  <div class="left">
    <div class="cardholder">
    <!-- TODO(jethier): Indicate station online/offline status with color here 
                        and possibly an "offline" tag after the name if the
                        station is offline. -->
      <div class="card blue lighten-1 white-text">
        <div class="navbar"><ul class="tabs">
          <li class="tab"><a href="#current">
            <div class="nav-button">
              <div><i class="material-icons">bookmark</i></div>
              <div class="nav-label">CURRENT</div>
            </div>
          </a></li>
          <li class="tab"><a href="#history">
            <div class="nav-button">
              <div><i class="material-icons">history</i></div>
              <div class="nav-label">HISTORY</div>
            </div>
          </a></li>
        </ul></div>
      </div>
    </div>
    <div class="station-id-area blue-text text-lighten-1">
      <div class="station-id-label">
        {{stationInfo?.station_id}}
      </div>
      <div class="socket-label">
        {{stationInfo?.host}} : {{stationInfo?.port}}
      </div>
    </div>
  </div>
  <div class="right">
    <div *ngIf="countdown?.millisRemaining > 0"
         (click)="countdown.pauseOrUnpause()"
         class="countdown">
      {{(countdown.millisRemaining / 1000) | number:['2.0-0']}}
    </div>
  </div>
</div>
