@require 'reset.styl'
@require 'common.styl'
@require 'color.styl'

body {
  background-color: COLORS_BACKGROUND;
}

#header {
  line-height: 50px;
  height: 50px;
  background-color: COLORS_HEADER;
  color: white;
  font-size: 22px;
  padding: 0 20px;
}

#header a {
  color: white;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#breadcrumbBar {
  height: 20px;
  line-height: 20px;
  background-color: #ccc;
  border-bottom: 1px solid #AAA;
  height: 20px;
  padding: 0 20px;
}

#starredStations {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
