.big-message {
  color: #bdbdbd;
  font-size: 14pt;
  font-weight: 500;
  padding-top: 1em;
  text-align: center;
}

#content {
  padding: 10px 3px 10px 3px;
  font-weight: 300;
  width: 100%;
}

.iconlabel {
  font-weight: 500;
}

.iconlabel i {
  vertical-align: middle;
}

.iconlabel span {
  vertical-align: middle;
}

.labelicon {
  font-weight: 500;
}

.labelicon i {
  vertical-align: middle;
}

.labelicon span {
  vertical-align: middle;
}

.navbar {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.navbar i {
  font-size: 30px;
}

.navbar .nav-button {
  margin-top: 10px;
}

.navbar .nav-button .nav-label {
  font-size: 8pt;
  line-height: 1rem;
}

.navbar .tabs {
  display: flex;
  background: transparent;
  height: 125%;
  overflow-x: hidden;
  overflow-y: visible;
}

.navbar .tabs .tab {
  flex-grow: 1;
  height: 100%;
}

.navbar .tabs .tab a {
  color: white;
  position: relative;
}

.navbar .tabs .tab a:hover {
  color: white;
}

.preloader {
  margin-top: 80px;
}

.served-message {
  font-weight: 300;
}

.served-stats {
  font-weight: 500;
}

#served-tag {
  display: table-cell;
  font-size: 8pt;
  text-align: right;
  width: auto;
}

#title {
  display: table-cell;
  font-size: 14pt;
  font-weight: 300;
}

#title-bar {
  padding: 3px;
  position: relative;
}

#title-bar > div {
  display: table;
  width: 100%;
}
