.docstring {
  font-weight: 300;
}

:host >>> .header-row td {
  font-size: 12px;
  font-weight: 300;
  padding: .3em 1em .5em 1em;
}

:host >>> .header-row .outcome {
  text-align: right;
}

:host >>> .measurement .name {
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
}

:host >>> .measurement .outcome {
  border-bottom-right-radius: .3em;
  border-top-right-radius: .3em;
  font-weight: 600;
  text-align: right;
}

:host >>> .measurement .value {
  max-width: 300px;
  overflow-x: hidden;
}

:host >>> .measurement td {
  border-radius: 0;
  padding: .3em 1em .3em 1em;
}

:host >>> .measurement-container {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

:host >>> .measurement-listing {
  border-collapse: separate;
  border-spacing: 0px .3em;
  font-size: 14px;
  font-weight: 400;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
}

p {
  padding-bottom: 8px;
  padding-top: 8px;
}

.phase-header-text {
  display: table;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
}

.phase-header-text .cycle-time {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.phase-header-text .name {
  display: table-cell;
  text-align: left;
  width: 70%;
}

.phase-header-text .status {
  display: table-cell;
  text-align: right;
  width: 20%;
}
