.cardholder {
  display: table-cell;
}

#cell-selection {
  color: #303030;
}

#cell-selection .tabs .tab a {
  color: blue;
}

.countdown {
  display: table-cell;
  background: #303030;
  border-radius: 5px;
  color: #e0e0e0;
  padding: 0px 5px 0px 5px;
  font-size: 10pt;
  font-weight: 500;
}

.left {
  display: table;
}

.right {
  display: table;
  text-align: right;
}

.station-header {
  margin: 0px 24px 0px 24px;
  overflow: hidden;
}

.station-id-area {
  display: table-cell;
  padding: 3px 0px 0px 8px;
  vertical-align: top;
}

.station-id-area .station-id-label {
  font-size: 14pt;
}

.station-id-area .socket-label {
  font-size: 10pt;
}

:host >>> .indicator {
  height: 5px;
}
