<!-- Template for the TestHeader component. -->
<div class="card-panel {{status | simplifyStatus | statusToColor}} test-header">
  <div>
    <div class='test-vitals'>
        <div class="dutID">
          {{dutID || '---'}}
        </div>
        <div>
          <span class="label">start time: </span>
          {{startTime && (startTime | date:'medium') || '---'}}
        </div>
        <div>
          <span class="label">end time: </span>
          {{endTime && (endTime | date:'medium') || '---'}}
        </div>
    </div>
    <div class="test-header-nav">
      <ul class="tabs">
        <li class="tab">
          <a href="#phases">
            <div class="nav-button">
              <i class="material-icons">view_stream</i>
              <div class="nav-label">PHASES</div>
            </div>
          </a>
        </li>
        <li class="tab">
          <a href="#logs">
            <div class="nav-button">
              <i class="material-icons">subject</i>
              <div class="nav-label">LOGS</div>
            </div>
          </a>
        </li>
        <li class="tab">
          <a href="#metadata">
            <div class="nav-button">
              <i class="material-icons">info</i>
              <div class="nav-label">META</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="test-status-tag">
      {{status | simplifyStatus}}
        <div class="duration" *ngIf="startTime">
          {{(((endTime || currentMillis) - startTime) / 1000 | number:['1.0-0'])}}s
        </div>
    </div>
  </div>
</div>

