<div>
<ul class="collapsible popout" data-collapsible="accordion">

<!-- Completed phases. -->
  <li *ngFor="#phase of completedPhases">
    <div class="collapsible-header
                {{phase.status | statusToColor}}
                waves-effect waves-light">
      <div class="phase-header-text">
        <div class="name">
          {{phase.name}}
        </div>
        <div class="cycle-time">
          {{phase.secondsTaken}}s
        </div>
        <div class="status">
          {{phase.status}}
        </div>
      </div>
    </div>
    <div class="collapsible-body
                {{phase.status | statusToColor | colorToDark}}">
      <p *ngIf="phase.docstring" class="docstring">{{phase.docstring}}</p>
      <div class="measurement-container">
        <table class="measurement-listing white-text">
          <tr *ngFor="#meas of phase.measurements"
              class="measurement
                     {{phase.status | statusToColor | colorToSuperDark}}">
            <td class="name">{{meas.name}}</td>
            <td class="validator"></td>
            <td class="value">{{meas.value}}</td>
            <td class="outcome
                       {{meas.outcome | outcomeToColor}}">{{meas.outcome}}</td>
          </tr>
        </table>
      </div>
    </div>
  </li>
  
  <!-- Current phase. -->
  <li *ngIf="currentPhase">
    <div class="collapsible-header
                {{'RUNNING' | statusToColor}}
                waves-effect waves-light">
      <div class="phase-header-text">
        <div class="name">
          {{currentPhase.name}}
        </div>
        <div class="status">
          {{'RUNNING'}}
        </div>
      </div>
    </div>
    <div class="collapsible-body
                {{'RUNNING' | statusToColor | colorToDark}}">
      <p *ngIf="phase.docstring" class="docstring">
        {{currentPhase.docstring}}
      </p>
      <p>Detailed phase content here.</p>
    </div>
  </li>
  
  <!-- Pending phases. -->
  <li *ngFor="#phase of pendingPhases">
    <div class="collapsible-header
                {{'PENDING' | statusToColor}}
                waves-effect waves-light">
      <div class="phase-header-text">
        <div class="name">
          {{phase.name}}
        </div>
        <div class="status">
          {{'PENDING'}}
        </div>
      </div>
    </div>
    <div class="collapsible-body
                {{'PENDING' | statusToColor | colorToDark}}">
      <p *ngIf="phase.docstring" class="docstring">{{phase.docstring}}</p>
      <p>Detailed phase content here.</p>
    </div>
  </li>
</ul>
</div>
